<h1 mat-dialog-title>{{'RecycledItem.Detail.Title'|translate}}</h1>
<mat-dialog-content>
    <form [formGroup]="form" class="form-container">
        <mat-form-field>
            <mat-label>{{'RecycledItem.Fields.Description'|translate}}</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'RecycledItem.Fields.Quantity'|translate}}</mat-label>
            <input matInput formControlName="quantity" inputmode="numeric">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'RecycledItem.Fields.Type'|translate}}</mat-label>
            <mat-select formControlName="type">
                @for (type of types; track $index) {
                    <mat-option [value]="type">
                        {{type}}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-icon-button (click)="save()"><mat-icon>save</mat-icon></button>
    <button mat-icon-button [matDialogClose]="undefined"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>