<div class="grid">
<mat-card class="padding-10 max-width-grid">
    <mat-card-header>
        <mat-card-title>
            {{'Home.Welcome'|translate}} {{loggedUser?.firstname}}
        </mat-card-title>
        <mat-card-subtitle>
            {{'Home.Subtitle'|translate}}
            <button mat-icon-button
            (click)="openAddModal()"><mat-icon>add</mat-icon></button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cards-container">
        @for (item of sortedItems; track item.type) {
            <mat-card>
                <mat-card-header>
                <mat-card-title>
                    {{ item.type }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{item.total}}
                <button mat-icon-button
                (click)="openAddModal(item.type)"><mat-icon>add</mat-icon></button>
            </mat-card-content>
            </mat-card>
        } @empty {
            {{'Home.Translate'| translate}} 
            <button mat-icon-button (click)="openAddModal()">
                <mat-icon>add</mat-icon>
            </button>
        }

    </mat-card-content>
</mat-card>

</div>